main.review-main {
    min-height: 100vh;
    position: relative;
}

.bg-review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/review-bg.png) center no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

body {
    margin: 0;
    color: #fff;
    overflow: hidden;
}

.review-main-content {
    margin: 100px;
    height: 100%;
}

.review-title {
    font-size: 26px;
    text-align: center;
    line-height: 1.3;
    text-shadow: -1px -1px 0 #FF5C5C;
    margin-bottom: 15px;
}

.review-index img {
    display: block;
    margin: auto;
}

.review-index img {
    height: calc(100vh - 270px);
    object-fit: contain;
}

.rows-3 {
    --f-columns: 3;
    --f-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
}

.rows-3>* {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    width: calc((100% / var(--f-columns) - var(--f-gap)));
}

.box-title {
    height: 221px;
    font-size: 22px;
    text-align: center;
    position: relative;
    padding: 0 15px;
}

.box-title:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/box-chat.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.box-title>* {
    z-index: 2;
    position: relative;
    top: 42px;
    color: #00FFFF;
    line-height: 1.3;
}

.row-cards {
    margin-top: -50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.rows-3.row-cards img {
    height: calc(100vh - 355px);
    margin: auto;
    display: block;
}

.btn-back a {
    display: inline-block;
    background: url('../img/btn-back.png') center no-repeat;
    background-size: 100% 100%;
    padding: 15px 50px;
}

.btn-next a {
    display: inline-block;
    background: url('../img/btn-next.png') center no-repeat;
    background-size: 100% 100%;
    padding: 15px 50px;
}

.review-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 10%;
    left: 0;
}

.review-buttons .btn-back {
    position: relative;
    left: 5%;
}

.review-buttons .btn-next {
    position: relative;
    right: 10%;
}

.review-tag-label {
    position: fixed;
    left: 8%;
    top: 8%;
}

.box-label {
    background: url('../img/box-label.png') no-repeat;
    background-size: 100% 100%;
    padding: 50px 30px;
    text-align: center;
    font-size: 22px;
    line-height: 1.3;
    position: relative;

}

.box-label-desc {
    background: url('../img/box-label-desc.png') no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    max-width: 700px;
    min-width: max-content;
    font-size: 20px;
}

.box-label-desc-wrap {
    margin: auto;
    max-width: max-content;
    margin-top: -10px;
}

.review-flex-center {
    height: calc(100vh - 70px);
    position: fixed;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.box-label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1A0E4C;
    opacity: 0.2;
    z-index: 1;
}

.box-label>* {
    position: relative;
    z-index: 2;
}

.kehoach-detail .review-flex-center {
    top: 31%;
}

.box-label.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-label.style-2 {
    padding: 25px;
    box-sizing: border-box;
}

.box-label.style-2 img {
    width: 70px;
    margin-right: 30px;
    height: 70px;
    object-fit: contain;
}

.kehoach-detail.detail-3 .review-flex-center {
    top: 45%;
}

.box-label-desc li {
    list-style: inside;
}

.phanphoi-label-item img {
    max-width: 60%;
    display: block;
    margin: auto;
}

.phanphoi-index .box-label {
    margin-top: -30px;
    margin-bottom: 30px;
}

.box-label span {
    color: rgba(65, 244, 255, 1);
}

.chuoi-gia-tri-diagram .box-label {
    width: 378px;
    text-align: left;
    background: url('../img/box-label-2.png') no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    font-size: 16px;
    padding: 15px;
}

.chuoi-gia-tri-diagram h3 {
    color: rgba(65, 244, 255, 1);
    font-weight: bold;
}

.box-step-title {
    background: url('../img/box-step-title.png') no-repeat;
    background-size: 100% 100%;

    width: 232px;
    height: 76px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #41F4FF;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
}

.chuoi-gia-tri-diagram .box-label {
    position: relative;
}

.box-label.khkd-content {
    top: 18%;
    left: 18%;
}

.box-label.khbh-content {
    left: 18%;
    top: 47%;
}

.box-label.khsx-content {
    left: 18%;
    top: 69%;
}

.chuoi-gia-tri-diagram .box-label:not(:last-child) {
    margin-bottom: 15px;
}



.box-step-title {
    position: fixed;
    top: 115px;
    left: 52%;
}

.chuoi-gia-tri-diagram {
    position: relative;
}

.box-step-title.khkd {
    top: 21%;
}

.box-step-title.khbh {
    top: 44%;
}

.box-step-title.khsx {
    top: 67%;
}
.text-box-desc {
    position: fixed;
    width: 12%;
    color: #41F4FF;
}

.text-box-desc.khbh-desc {
    top: 18%;
}
.text-box-desc.khsx-desc {
    top: 69%;
}

.text-box-desc.khbh-desc {
    top: 47%;
}

.text-box-desc.khkd-desc {
    top: 24%;
}
.chuoi-gia-tri-diagram .box-label.box-label-out {
    position: fixed;
    right: 81px;
    width: 21%;
}

.chuoi-gia-tri-diagram .box-label.box-label-out.khkd-content-out {
    top: 22%;
}

.chuoi-gia-tri-diagram .box-label.box-label-out.khbh-content-out {
    top: 37%;
}

.chuoi-gia-tri-diagram .box-label.box-label-out.khsx-content-out {
    top: 63%;
}